:root{
    --cor-fundo: #baed0f;
    --cor-principal: #879a3b ;
    --cor-secundaria: #52db12a4;
    --cor-destaque: #111211;
    --cor-texto: #1d0202;
}

body{
    /*background-image: url(tecnologgya.jpg);
    background-repeat: no-repeat;
    opacity: var(--cor-destaque)*/
    
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    /*background-color: var(--cor-principal);*/
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

.caixa-perguntas{
    padding-bottom: 10px;
}

button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}